@model WellnessMaxApp.Repository.Models.EnrollmentT

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EnrollmentT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollmentId" />
            <div class="form-group">
                <label asp-for="OnlineCounselingId" class="control-label"></label>
                <select asp-for="OnlineCounselingId" class="form-control" asp-items="ViewBag.OnlineCounselingId"></select>
                <span asp-validation-for="OnlineCounselingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WellnessEventId" class="control-label"></label>
                <select asp-for="WellnessEventId" class="form-control" asp-items="ViewBag.WellnessEventId"></select>
                <span asp-validation-for="WellnessEventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WellnessProgramId" class="control-label"></label>
                <select asp-for="WellnessProgramId" class="form-control" asp-items="ViewBag.WellnessProgramId"></select>
                <span asp-validation-for="WellnessProgramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <input asp-for="PaymentStatus" class="form-control" />
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
